body {
    background-color: #444;
}
button.topic {
    margin: 5px 10px;
    background-color: #ce64ce;
    border-radius: 11px;
    padding: 8px;
    border: 0;
    color: white;
    font-size: large;
}
h1 {
    width: 30%;
    float: left;
}
h3 {
    margin-bottom: 0;
}
section {
	max-width: 870px;
    margin: auto;
    background-color: white;
    padding: 1% 2%;
    box-sizing: border-box;
}
#input {
    text-align: right;
    float: right;
}
#buttons {
    clear: both;
}
div.img {    
    float: left;
    width: 30%;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
div.img img.still {
    width: 100%;
}
div.img img.anim {
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
/* got this from csstricks.com*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* responsive styles! */
@media screen and (max-width: 750px) {
}